<h2 class="page-header"> <%= book.title%> </h2>

<div class="book-details">
    <div>
        <img class="book-cover" src="<%= book.coverImagePath %>"/>
        <div class="book-details-btn-grid">
            <a class="btn btn-primary" href="/books/<%= book._id %>/edit">Edit</a>
            <form method="post" action="/books/<%= book._id %>?_method=DELETE">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            <a class="btn btn-primary book-details-author-button" href="/authors/<%= book.author.id %>">Show Author</a>
        </div>
    </div>

    <div class="book-details-grid">
        <div class="book-details-label">Author:</div>
        <div><%= book.author.name %></div>
        <div class="book-details-label">Published Date:</div>
        <div><%=book.publishedDate.toDateString()%></div>
        <div class="book-details-label">Page Count:</div>
        <div><%=book.pageCount%></div>
        <div class="book-details-label">Description:</div>
        <div><%=book.description%></div>
    </div>
</div>