<h2>Search Author</h2>

<form action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>

<br>

<% authors.forEach(author => { %>
    <div><%= author.name%></div>
    <a href="/authors/<%= author._id %>">View</a>
    <a href="/authors/<%= author._id %>/edit">Edit</a>
    <form method="post" action="/authors/<%= author._id %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
<% }) %>